.countdown-container {
  background: radial-gradient(circle, #f5f7fa, #c3cfe2);
  font-family: 'Digital-7', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: 1px solid red;

}
/* this is just a random comment */
.body {
  width: 100%;
}

.countdown-timer {
  width: min(500px, 90%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.time-section {}

span {
  font-size: clamp(1.5rem, 2.5vw, 3rem); /* Adjust font size based on viewport width */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);

}